<nav>
	<ul>
		<li><a href="{{ url_for('main.main') }}">Accueil</a></li>
		<li><a href="{{ url_for('main.restauration') }}">Restauration</a></li>
		<li><a href="{{ url_for('main.tenture') }}">Pose de tenture</a></li>
		<li><a href="{{ url_for('cours.cours') }}">Cours de Tapisserie</a></li>
		<li><a href="{{ url_for('shop.boutique') }}">Boutique</a></li>
		<li><a href="{{ url_for('auth.login') }}">login</a></li>
		<li><a href="{{ url_for('auth.register') }}">register</a></li>
		<li><a href="{{ url_for('main.contact') }}">Contact</a></li>
	</ul>
</nav>
